.homepage-content-container {
    
    .poster-section {
        padding: 0 4rem;
        .poster {
            margin-left   : 0.25rem;
            height        : 42.5rem;
            display       : flex;
            flex-direction: column;
    
            img {
                width: 100%;
                height: 100%;
            }
    
            .poster-top {
                flex-basis: 60%;
                display       : flex;
    
                .poster-top-left {
                    flex-basis: 60%; 
                }
    
                .poster-top-right {
                    flex-basis: 40%;
                }
            }
    
            .poster-bottom {
                flex-basis: 40%;
                display       : flex;
                flex-direction: row;
    
                .poster-bottom-left {
                    flex-basis: 60%;
                    display: flex;
                    flex-direction: row;
    
                    .first, .second {
                        flex-basis: 50%;
                    }
                }
    
                .poster-bottom-right {
                    flex-basis: 40%;
                }
            }
        }
    }
    
    .content-section {
        padding: 0 3rem;
        margin-top: 3rem;

        height: 1200px;

        .content-left {
            padding-right: 1.25rem;
        }

        .content-right {
            padding-left: 1.25rem;
        }
    }
}


.green {
    border: 1px solid green;
}

.blue {
    border: 1px solid blue;
}

.tomato {
    border: 1px solid tomato;
}

.purple {
    border: 1px solid purple;
}

.gray {
    border: 1px solid rgb(171, 171, 171);
}