$red-pink-color: #F26C63;
$red-color     : #F03737;
$main-green-color: #087B44;

.highlight-book-container {

    .red-pink {
        background-color: $red-pink-color;
    }

    .dark-green {
        background-color: $main-green-color;
    }

    .book-category-title {
        font-size     : 1.2rem;
        font-weight   : 600;
        letter-spacing: 0.03125rem;
        margin-bottom : 2.5rem;
    }

    .book-content {
        padding         : 2.625rem;

        .book-image {
            height: 17.25rem;

            &:hover {
                cursor: pointer;
            }

            img {
                width : 100%;
                height: 100%;
            }
        }

        .content {
            .title {
                color    : white;
                font-size: 1.2rem;

                strong {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .author {
                color         : white;
                width         : fit-content;
                font-size     : 0.875rem;
                font-weight   : 600;
                padding-bottom: 0.125rem;
                border-bottom : 1px solid;
                margin-bottom : 1.25rem;
            }

            .description {
                color         : white;
                padding-bottom: 0.75rem;
                border-bottom : 1px dashed;
            }

            .buy-box {
                margin-top: 0.75rem;

                .left {
                    color: white;

                    .unit {
                        text-decoration: underline;
                    }

                    .sale-off {
                        padding         : 4px 8px;
                        font-size       : 1rem;
                        background-color: $red-color;
                        font-weight     : 600;
                        border-radius   : 0.3rem;
                    }

                    .old-price {
                        letter-spacing : 0.0625rem;
                        text-decoration: line-through;
                        font-size      : 0.875rem;
                        font-weight    : 600;
                    }

                    .price {
                        letter-spacing: 0.0625rem;
                        font-size     : 1.15rem;
                        font-weight   : 600;
                    }

                }

                .right {
                    color           : white;
                    min-width       : 7.5rem;
                    height          : 2.625rem;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    font-size       : 1.125rem;
                    font-weight     : 600;
                    border-radius   : 0.3rem;
                    background-color: $red-color;

                    &:hover {
                        cursor          : pointer;
                        background-color: #d63131;
                    }
                }
            }
        }
    }

    padding-bottom : 2.5rem;
}