.manager-container {
    height: 100vh;

    .manager-sidebar {
        overflow: auto;
    }

    .manager-content {
        flex-grow: 1;
    }
}

.red {
    border: 1px dashed red;
}

.blue {
    border: 1px dashed blue;
}

.green {
    border: 1px dashed green;
}