.book-group-container {
    
    height: 400px;
    .book-group-title {
        font-size     : 1.2rem;
        font-weight   : 600;
        letter-spacing: 0.03125rem;
        margin-bottom : 2.5rem;
    }
}