$main-green-color: #087B44;
$main-red-color  : #CA2027;
$green-color-1   : #19ae70;

.title {
    width           : 100%;
    min-height      : 2.25rem;
    background-color: #F3F3F3;

    .content {
        padding: 0 4rem;

        .item {
            color    : #66645C;
            font-size: 0.9rem;

            .icon {
                font-size: 1.25rem;
            }

            &:not(:last-child) {
                border-right: 2px solid #CCCCCC;
            }

            &:first-child {
                padding-right: 1.6rem;
            }

            &:not(:first-child) {
                padding: 0 1.6rem;
            }

        }
    }

}

.main {
    width           : 100%;
    min-height      : 5rem;
    background-color: white;
    z-index         : 1025 !important;

    .content {
        padding: 0 3.5rem;

        .brand-box {
            font-size  : 2.25rem;
            font-weight: 700;
            color      : $main-green-color;

            &:hover {
                cursor: pointer;
            }

            .brand {
                color: $main-red-color;
            }
        }

        .searchBar {
            display    : flex;
            align-items: center;

            .search-box {
                display         : flex;
                border-radius   : 1.875rem;
                border          : 1px solid rgb(204, 204, 204);
                background-color: #F3F3F3;

                .icon {
                    flex-basis: 8%;
                    font-size : 1.25rem;
                }

                .search {
                    flex-basis: 75%;

                    input {
                        width           : 100%;
                        outline         : none;
                        border          : none;
                        background-color: #F3F3F3;
                    }
                }

                .search-btn {
                    cursor          : pointer;
                    flex-basis      : 17%;
                    border-radius   : 1.8rem;
                    font-weight     : 600;
                    color           : white;
                    background-color: $main-green-color;
                    padding         : 1px 0;
                }
            }

            .search-list {
                background-color: white;
                width           : 100%;
                border          : 1px solid rgb(204, 204, 204);
                max-height      : 18.75rem;
                overflow-y      : auto;

                .search-item {
                    margin-bottom: 0.5rem;
                    padding      : 0.2rem 0.6rem;

                    &:hover {
                        cursor          : pointer;
                        background-color: rgb(238, 238, 238);
                    }
                }

                .selected {
                    background-color: rgb(238, 238, 238);
                }
            }
        }

        .shoppingCart {
            .cartBorder {
                border-radius: 50%;
                border       : 2px solid $main-green-color;
                width        : fit-content;

                .cart-icon {
                    color    : $main-green-color;
                    font-size: 2rem;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .book-cart {
                padding-top   : 1.4rem;
                padding-bottom: 0.8rem;

                width: 25rem;

                background-color          : white;
                border-bottom-left-radius : 0.32rem;
                border-bottom-right-radius: 0.32rem;

                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .book-item {
                    height: 5.3rem;

                    .cart-item-image {
                        width       : 20%;
                        padding-left: 0.625rem;

                        img {
                            width : 100%;
                            border: 1px solid rgb(133, 133, 133);

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .cart-item-content {
                        width      : 60%;
                        padding-top: 1rem;

                        .cart-item-title {
                            display           : -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow          : hidden;
                            text-overflow     : ellipsis;

                            font-size  : 0.85rem;
                            font-weight: 600;

                            &:hover {
                                cursor: pointer;
                                color : $main-green-color;
                            }
                        }

                        .cart-item-price {
                            font-size: 0.85rem;

                            .current_price {
                                font-weight: 600;
                                color      : $main-red-color;

                                .unit {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .cart-item-remove-icon {
                        width    : 20%;
                        font-size: 32px;

                        color: white;

                        .remove-icon-box {
                            margin-top   : 1rem;
                            margin-bottom: 1rem;

                            .remove-icon {
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                        }
                    }

                    &:hover {
                        .cart-item-remove-icon {
                            color: $main-green-color;
                        }
                    }

                    .view-cart-btn {}

                    &:hover {
                        background-color: #FDFFF3;
                    }
                }
            }

        }

        .login-logout {

            a {
                text-decoration: none;
                color          : black;
                font-size      : 1rem;

                &:hover {
                    color: $main-green-color;
                }
            }

            .login {
                border-right : 1px solid black;
                padding-right: 0.4rem;
            }

            .register,
            .login-success {
                padding-left: 0.4rem;
            }

            .login-success {
                .profile {
                    margin-top      : 0.3rem;
                    background-color: white;
                    box-shadow      : 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
                    width           : 10rem;
                    border          : 1px solid rgb(219, 219, 219);
                    visibility      : hidden;
                    transition      : opacity 200ms, visibility 200ms;
                    opacity         : 0;

                    .profile-item {
                        padding    : 0.5rem 0.7rem;
                        display    : flex;
                        align-items: center;

                        &:hover {
                            cursor          : pointer;
                            color           : $green-color-1;
                            background-color: rgb(244, 244, 244);
                        }
                    }
                }

                &:hover {
                    .profile-username {
                        cursor: pointer;
                        color : $green-color-1;
                    }

                    .profile {
                        visibility: visible;
                        opacity   : 1;
                    }

                }
            }
        }
    }

}

.navigation {
    width           : 100%;
    min-height      : 2.8rem;
    background-color: $main-green-color;
    color           : white;

    .content {
        padding: 0 4rem;

        .menu {

            &:hover {
                cursor: pointer;
            }

            .menu-icon {
                font-size: 2rem;
            }

            .menu-title {
                font-size: 1.2rem;
            }

            .arrow-icon {
                .downside-arrow-icon {
                    font-size: 1.2rem;
                }
            }
        }

        .contact {

            .icon {
                font-size: 1.2rem;
            }

            .text {
                font-size: 0.85rem;
            }

            .hotline {
                border-right: 2px solid white;
            }

            .online-support {
                .text {
                    &:hover {
                        cursor         : pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.book-category-container {
    left   : 0;
    right  : 0;
    z-index: 1024 !important;

    .book-category-section {
        padding: 0 4rem;
    }
}


.red {
    border: 1px solid red;
}

@media only screen and (max-width: 767px) {
    .header-container {
        .main {
            background-color: $main-green-color;
            padding-bottom  : 1rem;

            .content {
                .brand-box {
                    color: white;

                    .brand {
                        color: white;
                    }
                }
            }
        }
    }
}