.page-not-found {
    min-height     : calc(100vh - 11.95rem);
    display        : flex;
    justify-content: center;

    .page-content {
        padding: 5rem 15rem;

        h3 {
            font-weight: 600;
        }
    }
}