.app-container {
    //height: 2500px;
    position        : relative;
    background-color: #F2F5F7;

    .header-section {
        position: absolute;
        width   : 100%;
        z-index : 3;
    }

    .homepage-section {
        position: absolute;
        width   : 100%;
        top     : 10.2rem;
        z-index : 2;
    }

}

@media only screen and (max-width: 767px) {
    .app-container {
        .homepage-section {
            top: 7rem;
        }
    }
}