.book-category {
    border: 1px solid rgb(187, 186, 186);
    margin-top: 0.2rem;
    background-color: white;
    
    .category-item {

        padding      : 0.85rem 0.3rem 0.5rem 2rem;
        border-bottom: 1px solid rgb(235, 235, 235);

        .category-title {
            font-size: 0.95rem;
            color: #66645C;
        }

        .icon {
            font-size: 1.25rem;
            color    : rgb(185, 182, 182)
        }

        &:hover {
            cursor: pointer;

            .icon {
                font-size: 1.4rem;
                color    : rgb(171, 171, 171);
            }

            border-bottom : 1px solid rgb(185, 182, 182);
            padding-bottom: 0.6rem;
        }

    }
}